.colors-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 550px;
  min-height: 330px;
  margin: -165px 0 0 -275px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border: 6px solid #cccccc;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em; }
  .colors-container h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 1.3em; }
    .colors-container h2 em {
      font-weight: normal;
      color: #060;
      font-size: 15px; }
  .colors-container .colors-container-top {
    float: left;
    width: 100%;
    margin-bottom: 10px; }
  .colors-container .colors-container-ulColors {
    background: #eee;
    padding: 3px 10px 10px 10px;
    box-sizing: border-box;
    float: left;
    clear: left;
    width: 50%;
    list-style: none;
    margin: 10px 0 0 0; }
    .colors-container .colors-container-ulColors li {
      float: left;
      margin: 7px 7px 0 0;
      font-size: 12px;
      padding-left: 24px;
      color: #222;
      line-height: 20px;
      position: relative;
      background: #fff;
      border-radius: 3px;
      overflow: hidden;
      border: 1px solid #ccc;
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif; }
      .colors-container .colors-container-ulColors li span {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none; }
      .colors-container .colors-container-ulColors li.selected {
        border-color: #000; }
      .colors-container .colors-container-ulColors li.customized span:after {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 4px;
        height: 4px;
        background: #000;
        border-radius: 8px;
        content: ' ';
        display: block; }
  .colors-container .colorPicker,
  .colors-container .colors-container-colorPicker {
    float: left;
    width: 42%;
    min-height: 160px;
    box-sizing: border-box;
    margin-left: 8%;
    margin-top: 10px;
    height: auto; }

.printopts-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 260px;
  margin: -130px 0 0 -250px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border: 6px solid #cccccc;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em; }
  .printopts-container h2 {
    font-size: 15px;
    margin: 0 0 10px 0; }
  .printopts-container .printopts-form {
    float: left;
    width: 100%;
    display: block;
    height: 260px; }
  .printopts-container .printopts-progress {
    float: left;
    width: 100%;
    display: none;
    font-size: 13px;
    text-align: center;
    padding-top: 90px;
    height: 260px; }
  .printopts-container .printopts-container-top {
    float: left;
    width: 100%;
    margin-bottom: 10px; }
  .printopts-container select {
    float: left;
    clear: left;
    margin-bottom: 5px; }
  .printopts-container span {
    color: #666;
    font-size: 13px; }
  .printopts-container button {
    font-size: 13px;
    border-radius: 5px;
    background: #eee;
    padding: 3px 15px;
    border: 1px solid #aaa; }
    .printopts-container button:hover {
      background: #ddd; }
    .printopts-container button.save {
      background: #0a0;
      color: white;
      border: 1px solid #0a0; }
      .printopts-container button.save:hover {
        background: #009100; }
